.card{
background:white;
padding:15px;
border-radius:22px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
transition:.3s;

display:flex;
flex-direction:column;
gap:10px;
}

.photo{
width:100%;
height:140px;
object-fit:cover;
border-radius:16px;
display:block;
}

.icon{
display:none !important;
}
